@font-face {
  font-family: "Tungsten-Bold";
  src: url("../assets/fonts/Tungsten-Bold.ttf");
}

@font-face {
  font-family: "DINNextW1G-Regular";
  src: url("../assets/fonts/DINNextW1G-Regular.ttf");
}

body {
  font-family: "DINNextW1G-Regular";
}
